$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './components.scss';


html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


body {
  background-color: #EEE;
}

.app-component-wrapper {
  width: 100%;
  .file-name-display {
    font-family: 'Roboto', sans-serif;
    color: #999;
  }
}

.app-title {
  color: #EEE;
}


.button-wrapper-main {
  border-bottom: 1px solid #555;
  width: 100%;


  .load-file-outter-wrap {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .load-file-inner-wrap {
      margin-top: 20px;
      width: 130px;
      text-align: center;
    }

    .import-btn-wrapper {
      width: 120px;
      margin: auto;
      
    }
  }

  .compare-btn-wrapper {
    width: 330px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


.compare-text-diff {
  font-family: 'Roboto', sans-serif;
}

.res-component {

  .lvl-0-main-wrap {
    background-color: #f9f9f9;
    width: 98%;
    margin: auto;
    border: 1px solid #555;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 5px;

    .lvl-0-title {
      font-family: 'Raleway', sans-serif;
      color: #111;
      font-size: 25px;
    }

  }

  .lvl-1-main-wrap {
    width: 98%;
    margin: auto;
    border-bottom: 1px solid #555;
    margin-top: 0px;
    margin-bottom: 0px;

    .lvl-1-title {
      font-family: 'Raleway', sans-serif;
      color: #111;
      font-size: 20px;
    }

  }

  .lvl-2-main-wrap {
    width: 98%;
    margin: auto;
    // border-bottom: 1px solid #555;
    margin-top: 0px;
    margin-bottom: 0px;

    .lvl-2-title {
      font-family: 'Raleway', sans-serif;
      color: #111;
      font-size: 18px;
    }

  }

  .lvl-3-main-wrap {
    width: 98%;
    margin: auto;
    // border-bottom: 1px solid #555;
    margin-top: 2px;
    margin-bottom: 2px;

    .lvl-3-title {
      font-family: 'Raleway', sans-serif;
      color: #111;
      font-size: 16px;
    }

  }

  h3 {
    font-family: 'Raleway', sans-serif;
    overflow-wrap: break-word;
    color: #111;
    padding: 5px;
    font-size: 14px;

  }

  .data-val-pass {

    p {
      font-family: 'Raleway', sans-serif;
      overflow-wrap: break-word;
      color: #258019;
      padding: 5px;
      width: 50%;
    }
  }

  .data-val-fail {

    p {
      font-family: 'Roboto', sans-serif;
      overflow-wrap: break-word;
      color: #731A0E;
      color: #111;
      padding: 5px;
      width: 98%;
    }
  }

  .file-a-fail-wrap {
    padding: 5px;
    margin-top: -5px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 15px;
  }

  .file-b-fail-wrap {
    padding: 5px;
    margin-top: -5px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 15px;
  }
}

.bottom-bar {
  font-family: 'Roboto', sans-serif;
}

.bottom-bar::hover {
  cusor: pointer;
}





.c-table {
  max-width: 1200px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-collapse: collapse;
  border: 1px solid black;
  th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px;
    background-color: #37474f;
    color: #F1F1F1;
  }

  tr {
      background-color: #F1F1F1;
    &:nth-child(even) {
      background-color: #F9F9F9;
    }
    
  }

}



.comp-loc-main {
  min-width: 400px;
  max-width: 420px;
  margin: auto;

  .loc-button {
    margin: 5px;
    width: auto;
    height: 45px;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    color: #304952;
    box-shadow: 0px 2px 5px 0px rgba(2,62,82,0.2);
    font-family: 'Roboto', sans-serif;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
  }

}







.comp-file-main {
  min-width: 300px;
  max-width: 320px;
  margin: auto;


  .file-button {
    margin: 5px;
    width: auto;
    height: 45px;
    padding: 20px;
    text-align: center;
    line-height: 10px;
    color: #304952;
    box-shadow: 0px 2px 5px 0px rgba(2,62,82,0.2);
    font-family: 'Roboto', sans-serif;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

  }

  .file-dialog-wrap {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    border: 1px solid black;

    .file-dialog-sect {
      width: 45%;
      border: 1px solid black;
    }
  }

}

.comp-compare-main {
  max-width: 220px;
  margin: auto;

  .file-button {
    margin: 5px;
    width: auto;
    height: 45px;
    padding: 5px;
    text-align: center;
    line-height: 35px;
    color: #304952;
    box-shadow: 0px 2px 5px 0px rgba(2,62,82,0.2);
    font-family: 'Roboto', sans-serif;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

  }

  .file-button-disabled {
    margin: 5px;
    width: auto;
    height: 45px;
    padding: 5px;
    text-align: center;
    line-height: 35px;
    background-color: #EEE;
    color: #CCC;
    box-shadow: 0px 2px 5px 0px rgba(2,62,82,0.2);
  }

  .file-dialog-wrap {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    border: 1px solid black;

    .file-dialog-sect {
      width: 45%;
      border: 1px solid black;
    }
  }

}


